
body
    padding: 0px
    margin: 0px
    display:flex
    flex-direction: column
    align-items: center
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    justify-items: center
    header
        width: 70%
        text-align: center
        margin:0px
        font-size: 40px
        background-color: #1E3050
        padding: 40px 0px 40px 0px
        i   
            color:white
        .title
            color:white
    section
        width: 70%
        height: 50%
        display:flex
        justify-content: center
        flex-direction: column
        align-items: center
        margin-top:100px
        p
            width: 100%
            
        .account-confirmation
           background-color: #f0f1f3
           border-radius: 7px
           color:black
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
           padding: 10px 20px 10px 20px
           font-size: 15px
           border:none
           border: solid 1px black
           border-bottom: solid 4px black
           font-weight: bold
           margin-top: 15px
           text-decoration: none
        .account-confirmation:hover
            background-color: #9d9dff
            text-decoration: none
            color: white
            border:none
            border: solid 1px black
            border-bottom: solid 4px black
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
            padding: 10px 20px 10px 20px
            border-radius: 7px
            font-size: 15px
            font-weight: bold
            margin-top: 15px
        .border
            display:flex
            justify-content: center
            width: 100%
            margin-top:20px
            p
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                width: 100%
                color:white
                flex-grow:3
            .uninorte
                display:flex
                flex-grow:1
                margin-left: 40px
                margin-right: 40px
                
                width: 35%
                justify-content: center
                align-items: center
                
                .title-uninorte
                    border:none
                    color:black
                    
                    text-align: right 
                .uninortelogo
                    width: 30px
                    height: 30px
                    
                    

    footer 
        width: 70%
        
        display:flex
        justify-content: space-around
        align-items: center
        .info
            display:flex
            justify-content: center
            
            align-items: center
            flex-direction: column
            width:25%
            .whatsapp
                display:flex
                
                width:60%
                justify-content: space-between
                align-items: center
            .correo
                display: flex
                justify-content: space-between
                align-items: center
                width:90%
                
        
        